<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        {{template "javascript"}}
    </head>
    <body>
        <!--Here's our 'Above the fold' content.-->
        <div class="above_fold">
            {{/* Header */}}
            {{template "header_div"}}
            <!--Here's the 'introductionary content'-->
            <div class="maindiv">
                <!--Here's my face-->
                <div class="myfacediv">
                    <img class="myface" src="static/img/Joe+Keller+Front.jpg" alt="Joseph Keller Picture">
                </div>
                <!--Here's a quote with a greeting to the User.-->
                <div class="emptyfacediv">
                    <h2 class="itsme">Hello, my name is Joseph B Keller!</h2>
                </div>
                <!--This is an introduction to me...-->
                <div class="quicksphelediv">
                    <p class="quicksphelep">
                        I am a Software Engineer/Developer, specializing in 
                        Cloud based web apps. I’ve always found myself comfortable 
                        contributing to teams of all sizes, working towards developing the 
                        best products for customers. I am currently working at Charter
                        as a Big Data Developer/Analyst. Around my colleagues, I'm known for my leadership skills and 
                        cooperation with team members, (including helpful learning practices such as 
                        detailed documentation and peered programming around new methodologies).
                    </p>
                </div>
                <!-- This is a section for folks to download my resume. -->
                <div class="downloadresdiv">
                    <div class="instructionressection">
                        <p class="resumeInfo">
                            Download my Resume...
                        </p>
                    </div>
                    <div class="resdownloadsection">
                        <a href="static/resumes/2026_Joseph_Keller_Resume.pdf" target="_blank" download>
                            <img src="static/img/svg/big_pdf.svg" class="infoimg_larger" alt="PDF download">
                        </a>
                    </div>
                    <div class="resdownloadsection">
                        <a href="static/resumes/2026_Joseph_Keller_Resume.docx" target="_blank" download>
                            <img src="static/img/svg/microsoftword.svg" class="infoimg_larger" alt="Microsoft Word Download">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Here's the 'look what I can do' section.-->
        <div class="what_doing_container">
            <div class="emptyfacediv">
                <h3 class="comelook_h3">Check out what I'm interested in...the list is always growing!</h3>
            </div>
            <ul class="myul">
                <li>
                    <p class="quicksphelep">
                        Currently, I am developing a messaging app working with AWS managed Kubernetes. It's a full featured
                        project involving Dockerized containers running Golang Microservices and AWS. Coming soon 
                        will be Grafana Monitoring as well! It’s a lot of work but a lot of fun.
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        Using a combination of JavaScript calendar libraries in combination with 
                        APIS within the Google Suite, I am making a ‘Scheduling Site’ for a family 
                        member’s Insurance Brokerage business. Shhh! Don’t tell them yet, it’s a 
                        birthday surprise!
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        This website was made with a combination of HTLM5, CSS, Javascript, Golang, and AWS for cloud based web hosting. 
                        Send me a message with my Gmail API setup and I'll respond as soon as I can!
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        I pride myself on hard work and creative solutions to our adapting world. If you need someone who can lead
                        a team, produce solutions to difficult production problems, or learn a new software to assist teams,
                        I'm always happy to help!
                    </p>
                </li>
            </ul>
        </div>

        <!--This is the footer content-->
        {{template "footer_div"}}
        
    </body>                    
</html>