{{/* ****** BEGINNING OF HEAD SECTION ********/}}
{{define "meta-title"}}
    <meta charset="UTF-8">
    <title>Joseph Keller Site</title>
{{end}}

{{define "pixel-dense"}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{end}}

{{define "fav-icon1"}}
    <link rel="shortcut icon" type="image/png" href="static/img/favicons/keyboardFav.png">
{{end}}

{{define "fonts1"}}
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Bowlby+One+SC|Dosis|Nunito|Odibee+Sans|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
{{end}}

{{define "media-queries"}}
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/styling.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 400px)" href="static/css/mq_400.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 600px)" href="static/css/mq_600.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 900px)" href="static/css/mq_900.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 1500px)" href="static/css/mq_1500.css">
{{end}}

{{define "javascript"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="static/js/email.js"></script>
    <script type="text/javascript" src="static/js/picture_gallery.js"></script>
    <script type="text/javascript" src="static/js/linkhandlers.js"></script>
{{end}}

{{/******* END OF HEAD SECTION *****/}}

{{/******** BEGINNING OF HEADER SECTION ********/}}
{{define "header_div"}}
    <header>
        <!-- This is warning folks that my resume isn't displaying correctly rn...-->
        <!-- This is not needed unless something is broken or credentials
        are not working
        
        <div class="maintenenceDiv">
            <h1 class="maintenenceH1">
                Warning! Site currently undergoing maintenence...
            </h1>
        </div>
         -->
        <!--This will contain my name in large font-->
        <div class="namediv">
            <h1 class="myName">Joseph Keller.com</h1>
        </div>
        <!--This will contain the links throughout my page-->
        <div class="linkdiv">
            <p onclick="linkHandling(0)" class="headerLinks">About Me</a>
            <!--Not sure how to pull off the 'Check Out My Work' tab...-->
            <div class="dropdown">
                <button class="dropbtn">Check Out My Older Work!</button>
                <div class="dropdown-content">
                    <p onclick="linkHandling(2)" class="headerLinks">Software Design</p>
                    <p onclick="linkHandling(3)" class="headerLinks">Game Design</p>
                    <p onclick="linkHandling(4)" class="headerLinks">Level Design</p>
                    <p onclick="linkHandling(5)" class="headerLinks">Writing</p>
                </div>
            </div>
            <p onclick="linkHandling(1)" class="headerLinks">Contact</p>
        </div>
        <!--This will contain a short, inspirational quote-->
        <div class="inspirationaldiv">
            <div class="inspirationalTextDiv">
                <p class="inspirationalp">
                    <q class="inspirational_quote" cite="https://www.emergingedtech.com/2015/01/inspirational-quotes-for-teachers-from-dr-martin-luther-king-jr/">
                    “The ultimate measure of a man is not where he stands in moments of comfort and convenience,
                    but where he stands at times of challenge and controversy.”</q>
                </p>
            </div>
            <div class="inspirationalTextDiv">
                <p class="inspirationalp">
                    -Martin Luther King Jr.
                </p>
            </div>
        </div>
    </header>
{{end}}
{{/******** END OF HEADER SECTION ********/}}

{{/******** BEGINNING OF BODY SECTION *********/}}

{{/******** END OF BODY SECTION ********/}}
{{define "getlocalhost"}}
    <script>
        window.addEventListener('DOMContentLoaded', function(){
            //Set Localhost in email.js
            setHosting({{.Host}});
        });
    </script>
{{end}}
{{/******* BEGINNING OF FOOTER SECTION ******/}}
{{define "footer_div"}}
    <footer>
        <div class="myname">
            Made by Joseph Keller
        </div>
        <div class="mainfootersection">
            <div class="footersectionSpace">
                <div class="sub_footerSectionSpace">
                    <img class="infoimg" src="static/img/svg/phone.svg">
                </div>
                <div class="sub_footerSectionSpace">
                    <p class="infop">314-322-8594</p>
                </div>
            </div>
            <div class="footersectionSpace">
                <div class="sub_footerSectionSpace">
                    <img class="infoimg" src="static/img/svg/gmail.svg">
                </div>
                <div class="sub_footerSectionSpace">
                    <p class="infop">jbkeller0303@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
{{end}}
{{/******** END OF FOOTER SECTION *******/}}
