<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        {{template "javascript"}}
    </head>
    <body>
        <!--Here's our 'Above the fold' content.-->
        <div class="above_fold">
            {{/* Header */}}
            {{template "header_div"}}
            <!--Here's the 'introductionary content'-->
            <div class="maindiv">
                <!--Here's my face-->
                <div class="myfacediv">
                    <img class="myface" src="static/img/Joe+Keller+Front.jpg" alt="Joseph Keller Picture">
                </div>
                <!--Here's a quote with a greeting to the User.-->
                <div class="emptyfacediv">
                    <h2 class="itsme">Hello, my name is Joseph B Keller!</h2>
                </div>
                <!--This is an introduction to me...-->
                <div class="quicksphelediv">
                    <p class="quicksphelep">
                        I am a Software Engineer, specializing in 
                        Dev Ops and Big Data infrastructure. I’ve always found myself comfortable 
                        contributing to teams of all sizes and to projects that require lots of 
                        leadership initiatives. I am currently working at Charter Communications
                        as a Big Data Developer/DevOps Engineer. Around my colleagues, I'm known 
                        for my wide technical knowledge, team-oriented problem solving, and 
                        rigorous documentation practices.
                    </p>
                </div>
                <!-- This is a section for folks to download my resume. -->
                <div class="downloadresdiv">
                    <div class="instructionressection">
                        <p class="resumeInfo">
                            Have a look at my Resume and Certificates!
                        </p>
                    </div>
                    <div class="resdownloadsection">
                        <a href="static/resumes/2026_Joseph_Keller_Resume.pdf" target="_blank" download>
                            <img src="static/img/svg/big_pdf.svg" class="infoimg_larger" alt="PDF download">
                        </a>
                    </div>
                    <div class="resdownloadsection">
                        <a href="static/resumes/AWS_Certified_Cloud_Practitioner_certificate.pdf" target="_blank" download>
                            <img src="static/img/svg/aws_cert.svg" class="infoimg_larger" alt="PDF download">
                        </a>
                    </div>
                    <div class="resdownloadsection">
                        <a href="static/resumes/2026_Joseph_Keller_Resume.docx" target="_blank" download>
                            <img src="static/img/svg/microsoftword.svg" class="infoimg_larger" alt="Microsoft Word Download">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Here's the 'look what I can do' section.-->
        <div class="what_doing_container">
            <div class="emptyfacediv">
                <h3 class="comelook_h3">Check out what I'm working on...the list is always growing!</h3>
            </div>
            <ul class="myul">
                <li>
                    <p class="quicksphelep">
                        I recently just finished my
                        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7190019550841602048/">AWS Cloud Practitioner exam.</a>
                        I will next be getting a certification for DevOps Engineering with AWS. 
                        In the meantime, I am re-factoring some old projects to see 
                        if they can fit into AWS messaging and big data technologies!
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        At Charter Communications, I've been selected as the lead developer for a new team
                        within our department.
                        This team has been migrating our existing onshore jobs to AWS. 
                        It has been an exercise in time management, communication skills, and 
                        thorough testing! Thorugh this project, I've worked with dozens of AWS technologies
                        firsthand, including Secrets, Glue, AWS Airflow, S3, and much more within our Hadoop
                        Big Data structure.
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        This website was made with a combination of HTLM5, CSS, Javascript, Golang continerized in Docker, and AWS 
                        for cloud based web hosting. 
                        Send me a message with my Gmail API setup and 
                        I'll respond as soon as I can!
                    </p>
                </li>
                <li>
                    <p class="quicksphelep">
                        I pride myself on the processes I design for tackling hard tasks. 
                        This includes detailed documentation and clear communication between 
                        all parties on the outcome desired. If you need someone who can lead a 
                        team, produce solutions to difficult production problems, 
                        or learn new software to assist the team, I’m here to help!
                    </p>
                </li>
            </ul>
        </div>

        <!--This is the footer content-->
        {{template "footer_div"}}
        
    </body>                    
</html>